.add1{
    --border-color: #ebc000;
    margin-left:10vh;
    margin-top:3vh;
    font-size: 20px;
    position: relative ;
    color: #020202;
    --background-activated:#fff8d8;
}
.card{
    height: 300px;
    margin-top: 10px;

}
.pic{
    margin-top:20px;
    height: 80px;

}
.input{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
    --border-color: #ebc000;

}