<ion-menu side="start" content-id="menu1">
  <ion-header>
    <ion-toolbar transclusent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <ion-item>
        <ion-icon name="people-sharp" slot="start"></ion-icon>
        <ion-label>Mes contacts</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="cog-sharp" slot="start"></ion-icon>
        <ion-label>Mon compte</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="help-sharp" slot="start"></ion-icon>
        <ion-label>Aide</ion-label>
      </ion-item>

      <ion-item (click)="onSignOut()">
        <ion-icon name="log-out-sharp" slot="start"></ion-icon>
        <ion-label >Se déconnecter</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="menu1">
  <ion-content>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-menu-button class="ic" auto-hide="false"></ion-menu-button>
     </ion-buttons>
    </ion-toolbar>

   <div>
     <ion-label class="title">iContact</ion-label>
   </div>
    <ion-card class="card">
      <ion-card-content class="label"> Ajouter un contact</ion-card-content>
      <ion-button class="next" shape="round" fill="outline" [routerLink]="['/','add-contact']">
        <ion-icon name="chevron-forward-sharp" class="chev" ></ion-icon>
      </ion-button>
    </ion-card>

    <ion-card class="card1">
      <ion-card-content class="label" > Mes contacts</ion-card-content>
      <ion-button class="next" shape="round" fill="outline" [routerLink]="['/','contacts']" >
        <ion-icon name="chevron-forward-sharp"  class="chev"></ion-icon>
      </ion-button>
      
    </ion-card>

  
  </ion-content>
</div>

