<div class="ion-page">
  <ion-content pager="true"  scroll-y="false" >  
      <ion-slides #slides>
      <ion-slide class="header1" >
        <ion-button fill="clear" class="ic2" [routerLink]="['/','login-email']">SE CONNECTER</ion-button>
         <ion-label class="title"> iContact </ion-label>
  
         <ion-button fill="solid"  shape="round" class="button" (click)="SlideNext()">
          SUIVANT</ion-button>
          
         
        
      </ion-slide>
  
      <ion-slide class="header2">
        <ion-button fill="clear" class="ic2" [routerLink]="['/','login-email']">SE CONNECTER</ion-button>
        <p class="para">Vous avez plusieurs appareils et vous voulez partager vos contacts?  </p>
        <ion-button fill="solid"  shape="round" class="button" (click)="SlideNext()" >
          SUIVANT</ion-button>
  
      </ion-slide>
  
      <ion-slide class="header3">
        <ion-button fill="clear" class="ic2" [routerLink]="['/','login-email']">SE CONNECTER</ion-button>
        <p class="para">Vous voulez garder vos contacts en suretê de toute perte? </p>
        <ion-button fill="solid"  shape="round" class="button" [routerLink]="['/','sign-up-email']">
          C'est parti!</ion-button>
      </ion-slide>
      
      </ion-slides>
  
  
  </ion-content> 
  </div>
